@charset "utf-8";
.kiji h1 {
	font-size: 40px;
}
.kiji p {
	font-size: 16px;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
