@charset "utf-8";
.kiji h1 {
	font-size: 40px;
}
.kiji p {
	font-size: 16px;
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.gaiyou a {
	color: #000000;
	text-decoration: none;
	outline: none;
	display: block;
}
.gaiyou a:hover {
	background-color: #EDEDED;
}
.gaiyou a:focus {
	background-color: #EDEDED;
}
.gaiyou a h2 {
	font-size: 20px;
	font-weight: bold;
}
.gaiyou.iconcard a span {
	font-size: 50px;
	padding-top: 40px;
	padding-bottom: 10px;
	color: #FFFFFF;
}
.gaiyou.iconcard a {
	background-color: #FDD757;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: center;
	height: 250px;
}
.gaiyou.iconcard a:hover {
	opacity: 0.8;
}
.gaiyou.iconcard.database a {
	background-color: #CDDE6C;
}
.gaiyou.iconcard.consult a {
	background-color: #F6BBC0;
}
.gaiyou.iconcard.contact a {
	background-color: #9CD5DE;
}


@media (min-width: 1200px){
.container-fluid {
	width: 1200px;
}

}
.sub-midashi {
	padding-bottom: 6px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 2px solid #DDDDDD;
}
.row.showcase > .col-sm-6:nth-child(odd) {
	clear: both;
}
.header-image {
	background-image: url(photo/top.jpg);
	height: 440px;
	background-size: cover;
}
.catch {
	color: #FFFFFF;
	position: absolute;
	bottom: 100px;
	left: 37px;
	background-color: rgba(0,0,0,0.42);
	width: 370px;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 23px;
	padding-right: 23px;
}
.footer-info {
	background-color: #EDEDED;
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer-copyright {
	background-color: #555555;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFFFFF;
	font-size: 10px;
}
.row.main-contents {
	margin-bottom: 20px;
}
.row.showcase > .col-sm-6 {
	margin-bottom: 20px;
}
.row.showcase .img-responsive {
	margin-bottom: 10px;
}




@media (max-width: 767px){
.navbar.navbar-default.navbar-static-top {
	margin-bottom: 0px;
}
.row.header-contents > .col-sm-12 {
	padding-left: 0px;
	padding-right: 0px;

}
.row.main-contents >  .col-sm-3.col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.row.showcase .img-responsive {
	width: 122px;
	float: left;
}
.row.showcase  p {
	margin-left: 132px;
}
.row.showcase .gaiyou {
	clear: both;
}







}
.sub-menu {
	margin-bottom: 30px;
}
.catch .btn.btn-primary {
	background-color: #FFFF00;
	color: #000000;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nav.nav-news li a {
	border-bottom: 1px dotted #AAAAAA;
	padding-left: 0px;
	padding-right: 0px;
	color: #000000;
}
.navbar-header .navbar-brand {
	font-family: open-sans;
	font-style: normal;
	font-weight: 700;
	color: #000000;
	font-size: 20px;
}
.catch h1 {
	font-family: open-sans;
	font-style: normal;
	font-weight: 700;
}
.navbar-brand img  {
	display: inline;
	margin-top: -5px;
	margin-right: 8px;
}






@media (min-width: 768px){
.row.header-contents {
	margin-bottom: 20px;
}

}

@media (max-width: 500px){
.gaiyou.iconcard a h2 {
	font-size: 18px;
}
.gaiyou.iconcard a p {
	font-size: 12px;
}
.gaiyou.iconcard a {
	height: 230px;
}
.catch {
	left: 0px;
	bottom: 30px;
	width: 100%;
}
.catch h1 {
	font-size: 26px;
}
.header-image {
	height: 380px;
}






}
